*{
  margin: 0;
}

.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color style */
.color-primary {
  color: #4E47FF;
}
.color-dark-01{
    color: rgba(37, 36, 50, 1);
}
.color-dark-02 {
  color: rgba(37, 36, 50, 0.5);
}

/* button style */
.btn-primary {
  font-size: 14px;
  font-weight: bold;
  background-color: #4E47FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary:hover {  
  background-color: #FFB805;
  color: black;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 151px;
  padding: 10px 20px;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner style */
.banner{

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
      width: 905px;
    height: 237px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.banner-content button{
  margin-top: 30px;
}
.banner h2{
    font-size: 65px;
    font-weight: bold; 
}

.header-image{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 650px;
}
.action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 116px 150px;
}
.action-content h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.action-section img{
  border-radius: 40px;
}
.action-section button{
  margin-top: 20px;;
}

main{
  background-color: rgba(245, 247, 255, 1);
}
.productive{
  display: flex;
  justify-content: center;
  align-items: center;
}
.productive-user{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 20px;
  padding: 50px;
  width: 1140px;
  height: 250px;
  text-align: center;
}
.productive-user h3{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}
.productive-user h2{
  font-size: 70px;
  font-weight: bold;
}
.user-stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;;
}
.user-stats p{
  margin-top: 8px;;
}

.review-box{
  display: flex;
  justify-content: center;
  align-items: center;;
}
.review{
  margin-top: 137px;
  margin-bottom: 137px;
  width: 1140px;

}
.review h4{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.review-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.single-review{
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}
.star i{
  color: #FFB805;
}

.single-review h6{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;   
}
.user-info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.user-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.focus-better{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
.focus-better h3{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}
.focus-better button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.focus-better img{
  border-radius: 50px;
}
.get-in-touch{
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.get-in-touch h3{
  font-size: 90px;
  font-weight: bold;
}
.get-in-touch form label{
  font-size: 18px;
  font-weight: 600;
}

.get-in-touch form input{
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(37, 36, 50, 0.1);
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.get-in-touch form textarea{
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(37, 36, 50, 0.1);
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.get-in-touch button{
  width: 100%;
}